@{
    ViewBag.Title = "Velkommen";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til vores Fodbold API-app</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
